<a href="https://colab.research.google.com/github/viniciusohc/datasciencestudy/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [265]:
import pandas as pd

In [266]:
Covid_live = pd.read_csv('Covid Live.csv')

In [267]:
Covid_live.head(3)

,#,"Country,\nOther",Total\nCases,Total\nDeaths,New\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"

### Renomear as colunas para ficar melhor para analisar os dados e melhor o index

In [268]:
colunas = Covid_live.columns
colunas

Index(['#', 'Country,\nOther', 'Total\nCases', 'Total\nDeaths', 'New\nDeaths',
       'Total\nRecovered', 'Active\nCases', 'Serious,\nCritical',
       'Tot Cases/\n1M pop', 'Deaths/\n1M pop', 'Total\nTests',
       'Tests/\n1M pop', 'Population'],
      dtype='object')

In [269]:
Covid_live.rename(columns = {"#":"Id",
                             "Country,\nOther":"Country",
                             "Total\nCases":"Total_Cases",
                             "Total\nDeaths":"Total_Deaths",
                             "New\nDeaths":"New_Deaths",
                             "Total\nRecovered":"Total_Recovered",
                             "Active\nCases":"Active_Cases",
                             "Serious,\nCritical":"Serious_Critical",
                             "Tot Cases/\n1M pop":"Total_Cases_1Mpop",
                             "Deaths/\n1M pop":"Deaths_1Mpop",
                             "Total\nTests":"Total_Tests",
                             "Tests/\n1M pop":"Tests_1Mpop"}, inplace=True)

In [270]:
Covid_live = Covid_live.set_index('Id')

In [271]:
colunas = Covid_live.columns
colunas

Index(['Country', 'Total_Cases', 'Total_Deaths', 'New_Deaths',
       'Total_Recovered', 'Active_Cases', 'Serious_Critical',
       'Total_Cases_1Mpop', 'Deaths_1Mpop', 'Total_Tests', 'Tests_1Mpop',
       'Population'],
      dtype='object')

### Reconhecer os dados, analisar os dados da tabela cru

In [272]:
#Mostrar as 5 primeiras linhas do dataframe
Covid_live.head(5)

,Country,Total_Cases,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1Mpop,Deaths_1Mpop,Total_Tests,Tests_1Mpop,Population
Id,,,,,,,,,,,,
1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"

In [273]:
#Mostrar informações sobre o dataframe
Covid_live.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 1 to 230
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            230 non-null    object
 1   Total_Cases        230 non-null    object
 2   Total_Deaths       225 non-null    object
 3   New_Deaths         3 non-null      float64
 4   Total_Recovered    214 non-null    object
 5   Active_Cases       215 non-null    object
 6   Serious_Critical   147 non-null    object
 7   Total_Cases_1Mpop  228 non-null    object
 8   Deaths_1Mpop       223 non-null    object
 9   Total_Tests        214 non-null    object
 10  Tests_1Mpop        214 non-null    object
 11  Population         228 non-null    object
dtypes: float64(1), object(11)
memory usage: 23.4+ KB

In [274]:
# Ver quantos valores nulos do dataframe todo
Covid_live.isnull().sum()

Country                0
Total_Cases            0
Total_Deaths           5
New_Deaths           227
Total_Recovered       16
Active_Cases          15
Serious_Critical      83
Total_Cases_1Mpop      2
Deaths_1Mpop           7
Total_Tests           16
Tests_1Mpop           16
Population             2
dtype: int64

In [275]:
#Ver a dimensão do dataframe
Covid_live.shape

(230, 12)

In [276]:
#Mostrar quantos valores unicos existem na coluna
Covid_live.Country.nunique()

230

In [277]:
#Mostrar quais são os valores unicos da coluna
Covid_live.Country.unique()

array(['USA', 'India', 'France', 'Brazil', 'Germany', 'S. Korea', 'UK',
       'Italy', 'Japan', 'Russia', 'Turkey', 'Spain', 'Vietnam',
       'Australia', 'Argentina', 'Netherlands', 'Iran', 'Mexico',
       'Indonesia', 'Taiwan', 'Colombia', 'Poland', 'Portugal', 'Ukraine',
       'Austria', 'Greece', 'Malaysia', 'DPRK', 'Thailand', 'Israel',
       'Chile', 'Belgium', 'Canada', 'Peru', 'Czechia', 'Switzerland',
       'South Africa', 'Philippines', 'Romania', 'Denmark', 'Sweden',
       'Iraq', 'Serbia', 'Hungary', 'Bangladesh', 'Singapore', 'Slovakia',
       'Georgia', 'New Zealand', 'Hong Kong', 'Jordan', 'Ireland',
       'Pakistan', 'Norway', 'Kazakhstan', 'Finland', 'Morocco',
       'Bulgaria', 'Lithuania', 'Croatia', 'Lebanon', 'Slovenia',
       'Tunisia', 'Guatemala', 'Cuba', 'Bolivia', 'Costa Rica', 'UAE',
       'Ecuador', 'Nepal', 'Belarus', 'Panama', 'Uruguay', 'Mongolia',
       'Latvia', 'Azerbaijan', 'Saudi Arabia', 'Paraguay', 'Bahrain',
       'Sri Lanka', 'Kuwait', 'Dominican Republic', 'Myanmar',
       'Palestine', 'Estonia', 'Moldova', 'Cyprus', 'Venezuela', 'Egypt',
       'Libya', 'Ethiopia', 'Réunion', 'Honduras', 'Qatar', 'Armenia',
       'Bosnia and Herzegovina', 'Oman', 'North Macedonia', 'Kenya',
       'Zambia', 'Albania', 'Botswana', 'Luxembourg', 'Montenegro',
       'Algeria', 'Nigeria', 'Zimbabwe', 'China', 'Uzbekistan',
       'Mozambique', 'Brunei', 'Martinique', 'Laos', 'Kyrgyzstan',
       'Iceland', 'El Salvador', 'Afghanistan', 'Guadeloupe', 'Maldives',
       'Trinidad and Tobago', 'Uganda', 'Namibia', 'Ghana', 'Jamaica',
       'Cambodia', 'Rwanda', 'Cameroon', 'Malta', 'Angola', 'Barbados',
       'French Guiana', 'DRC', 'Channel Islands', 'Senegal', 'Malawi',
       'Ivory Coast', 'Suriname', 'French Polynesia', 'New Caledonia',
       'Eswatini', 'Guyana', 'Belize', 'Fiji', 'Madagascar', 'Sudan',
       'Mauritania', 'Cabo Verde', 'Bhutan', 'Syria', 'Burundi', 'Gabon',
       'Seychelles', 'Andorra', 'Curaçao', 'Papua New Guinea', 'Aruba',
       'Mauritius', 'Mayotte', 'Tanzania', 'Togo', 'Isle of Man',
       'Guinea', 'Bahamas', 'Faeroe Islands', 'Lesotho', 'Haiti', 'Mali',
       'Cayman Islands', 'Saint Lucia', 'Benin', 'Somalia', 'Congo',
       'Timor-Leste', 'Burkina Faso', 'Solomon Islands', 'San Marino',
       'Gibraltar', 'Liechtenstein', 'Grenada', 'Nicaragua', 'Bermuda',
       'South Sudan', 'Tajikistan', 'Equatorial Guinea', 'Tonga', 'Samoa',
       'Dominica', 'Djibouti', 'Marshall Islands', 'CAR', 'Monaco',
       'Gambia', 'Saint Martin', 'Greenland', 'Yemen', 'Vanuatu',
       'Caribbean Netherlands', 'Sint Maarten', 'Eritrea', 'Niger',
       'Micronesia', 'Antigua and Barbuda', 'Guinea-Bissau', 'Comoros',
       'Liberia', 'Sierra Leone', 'Chad', 'British Virgin Islands',
       'St. Vincent Grenadines', 'Saint Kitts and Nevis', 'Cook Islands',
       'Turks and Caicos', 'Sao Tome and Principe', 'Palau', 'St. Barth',
       'Nauru', 'Anguilla', 'Kiribati', 'Saint Pierre Miquelon',
       'Falkland Islands', 'Montserrat', 'Saint Helena', 'Macao',
       'Wallis and Futuna', 'Diamond Princess', 'Niue', 'Vatican City',
       'Tuvalu', 'Western Sahara', 'MS Zaandam'], dtype=object)

In [278]:
#Mostrar a frequencia que cada valor unico de uma coluna aparece
Covid_live.Country.value_counts()

USA                   1
Sudan                 1
Cabo Verde            1
Bhutan                1
Syria                 1
                     ..
Kuwait                1
Dominican Republic    1
Myanmar               1
Palestine             1
MS Zaandam            1
Name: Country, Length: 230, dtype: int64

### Valores Nulos

Qual coluna tem mais valores nulos?

In [279]:
#For para saber qual coluna tem mais valores nulos
maior_valor = 0
for i in colunas:
  if Covid_live[i].isnull().sum() > maior_valor:
    maior_valor = Covid_live[i].isnull().sum()
    coluna_maior_valor = i

print(f'A coluna que tem mais valores nulos é a coluna \"{coluna_maior_valor}\" com {maior_valor} valores')

A coluna que tem mais valores nulos é a coluna "New_Deaths" com 227 valores

Qual coluna tem menos valores nulos? diferente de 0

In [280]:
#For para saber qual coluna tem menos valores nulos diferente de 0
count = 1
for i in colunas:
  if Covid_live[i].isnull().sum() != 0:
    if count == 1:
      menor_valor = Covid_live[i].isnull().sum()
      coluna_menor_valor = i
      count = 2
    elif Covid_live[i].isnull().sum() < menor_valor:
      menor_valor = Covid_live[i].isnull().sum()
      coluna_menor_valor = i

print(f'A coluna que tem menos valores nulos (diferente de 0) é a coluna \"{coluna_menor_valor}\" com {menor_valor} valores')

A coluna que tem menos valores nulos (diferente de 0) é a coluna "Total_Cases_1Mpop" com 2 valores

Quais colunas tem valores nulos?

In [281]:
print('Colunas que possuem valores nulos:')
colunas_nulas = []
for i in colunas:
  if Covid_live[i].isnull().sum() != 0:
      print(i)
      colunas_nulas.append(i)

Colunas que possuem valores nulos:
Total_Deaths
New_Deaths
Total_Recovered
Active_Cases
Serious_Critical
Total_Cases_1Mpop
Deaths_1Mpop
Total_Tests
Tests_1Mpop
Population

Crie um dataframe sobre Covid sem dados nulos

In [282]:
#Primeiro é preciso analisar qual é a solução mais viavél para cada coluna

In [283]:
#Mostrar apenas as colunas que contem valores nulos 
Covid_live.loc[:, colunas_nulas].head(10)

,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1Mpop,Deaths_1Mpop,Total_Tests,Tests_1Mpop,Population
Id,,,,,,,,,,
1,"1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
2,"528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
3,"155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
4,"686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
5,"149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"
6,"28,406",42.0,"24,013,461","727,234",352,"482,547",553,"15,804,065","307,892","51,329,899"
7,"189,919",NaN,"23,347,871","84,162",146,"344,857","2,773","522,526,476","7,628,357","68,497,907"
8,"177,054",NaN,"21,779,604","476,145",141,"372,250","2,938","246,636,495","4,092,684","60,262,770"
9,"44,678",NaN,"20,380,089","804,449",204,"169,043",356,"76,201,407","606,772","125,584,838"
10,"387,163",NaN,"19,979,763","581,544","2,300","143,674","2,655","273,400,000","1,875,095","145,805,947"

In [284]:
#Para o melhor sentido do dataframe vamos trocar os valores nulos para "Unknown"
Covid_live_nonull = Covid_live.fillna('Unknown')
Covid_live_nonull.head(3)

,Country,Total_Cases,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1Mpop,Deaths_1Mpop,Total_Tests,Tests_1Mpop,Population
Id,,,,,,,,,,,,
1,USA,"98,166,904","1,084,282",Unknown,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
2,India,"44,587,307","528,629",Unknown,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
3,France,"35,342,950","155,078",Unknown,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"

In [285]:
Covid_live_nonull.isnull().sum()

Country              0
Total_Cases          0
Total_Deaths         0
New_Deaths           0
Total_Recovered      0
Active_Cases         0
Serious_Critical     0
Total_Cases_1Mpop    0
Deaths_1Mpop         0
Total_Tests          0
Tests_1Mpop          0
Population           0
dtype: int64

### Localizar

Exiba somente a linha do Brazil

In [286]:
Covid_live.loc[Covid_live.Country == 'Brazil']

,Country,Total_Cases,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1Mpop,Deaths_1Mpop,Total_Tests,Tests_1Mpop,Population
Id,,,,,,,,,,,,
4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"

Exiba somente as linhas dos paises Australia e Nova zelandia

In [287]:
Covid_live.loc[Covid_live.Country.isin(['Australia', 'New Zealand'])]

,Country,Total_Cases,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1Mpop,Deaths_1Mpop,Total_Tests,Tests_1Mpop,Population
Id,,,,,,,,,,,,
14,Australia,"10,209,239","14,984",NaN,"10,133,494","60,761",49,"391,627",575,"78,835,048","3,024,116","26,068,792"
49,New Zealand,"1,779,476","2,959",NaN,"1,767,660","8,857",NaN,"363,292",604,"7,544,063","1,540,170","4,898,203"

Exiba apenas as linhas dos paises que começam com a letra T

In [288]:
#Primeiro temos que sabem quais são os paises presentes com a letra T
paises_T = []
for i in Covid_live.Country:
  if i[0] in 'Tt':
    paises_T.append(i)
paises_T

['Turkey',
 'Taiwan',
 'Thailand',
 'Tunisia',
 'Trinidad and Tobago',
 'Tanzania',
 'Togo',
 'Timor-Leste',
 'Tajikistan',
 'Tonga',
 'Turks and Caicos',
 'Tuvalu']

In [289]:
#Agora fazer um loc com os paises com T
Covid_live.loc[Covid_live.Country.isin(paises_T)]

,Country,Total_Cases,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1Mpop,Deaths_1Mpop,Total_Tests,Tests_1Mpop,Population
Id,,,,,,,,,,,,
11,Turkey,"16,873,793","101,139",NaN,"16,754,301","18,353",975,"197,211","1,182","162,743,369","1,902,052","85,561,976"
20,Taiwan,"6,417,941","11,003",NaN,"5,603,195","803,743",NaN,"268,661",461,"25,998,416","1,088,319","23,888,595"
29,Thailand,"4,681,309","32,767",9.0,"4,642,083","6,459","1,496","66,801",468,"17,270,775","246,450","70,078,203"
63,Tunisia,"1,145,686","29,249",NaN,NaN,NaN,99,"95,104","2,428","4,948,208","410,754","12,046,656"
120,Trinidad and Tobago,"182,597","4,195",NaN,"174,214","4,188",18,"129,816","2,982","834,508","593,287","1,406,585"
159,Tanzania,"39,440",845,NaN,NaN,NaN,7,623,13,NaN,NaN,"63,298,550"
160,Togo,"39,034",285,NaN,"38,528",221,NaN,"4,497",33,"791,865","91,220","8,680,837"
173,Timor-Leste,"23,253",138,NaN,"23,102",13,NaN,"16,980",101,"278,529","203,391","1,369,429"
183,Tajikistan,"17,786",125,NaN,"17,264",397,NaN,"1,786",13,NaN,NaN,"9,957,464"
185,Tonga,"16,182",12,NaN,"15,638",532,NaN,"150,182",111,"535,009","4,965,327","107,749"
212,Turks and Caicos,"6,380",36,NaN,"6,321",23,4,"160,539",906,"550,093","13,841,952","39,741"
228,Tuvalu,20,NaN,NaN,NaN,20,NaN,"1,658",NaN,NaN,NaN,"12,066"

Exiba um dataframe sem as linhas dos paises com a letra A

In [290]:
#Primeiro temos que sabem quais são os paises presentes com a letra A
paises_A = []
for i in Covid_live.Country:
  if i[0] in 'Aa':
    paises_A.append(i)
paises_A

['Australia',
 'Argentina',
 'Austria',
 'Azerbaijan',
 'Armenia',
 'Albania',
 'Algeria',
 'Afghanistan',
 'Angola',
 'Andorra',
 'Aruba',
 'Antigua and Barbuda',
 'Anguilla']

In [291]:
#Agora contruir um dataframe somente com os paises com a letra A e então exclui-los atraves do index
Covid_live_A = Covid_live.loc[Covid_live.Country.isin(paises_A)]
Covid_live_without_A = Covid_live.drop(Covid_live_A.index)

In [292]:
#Conferir se foram excluidos
Covid_live_without_A.loc[Covid_live_without_A.Country.isin(paises_A)]

Empty DataFrame
Columns: [Country, Total_Cases, Total_Deaths, New_Deaths, Total_Recovered, Active_Cases, Serious_Critical, Total_Cases_1Mpop, Deaths_1Mpop, Total_Tests, Tests_1Mpop, Population]
Index: []

### Media, mediana, moda

Qual é a mediana da coluna população

In [293]:
#Primeiro tem que ver qual é o type da coluna
Covid_live.Population.dtype

dtype('O')

In [294]:
#Caso não for int, tevemos tranformar em inteiros

In [295]:
#Para isso devemos formatar as strings para poder tranformar em int
#nesse caso eu vi que tinha float no meio das str
for p in Covid_live.Population:
  if type(p) is float:
    print(p)

nan
nan

In [296]:
#Existe valores vazios, então devemos tranformalos em algum valor, porem nesse caso vamos excluir essas duas linhas
population_null = Covid_live.loc[Covid_live.Population.isnull()]
Covid_population = Covid_live.drop(population_null.index)
#Conferir
for p in Covid_media_population:
  if type(p) is float:
    print(p)

In [297]:
#formatar as strings
for i, c in enumerate(Covid_population.Population):
  aux = c
  aux = aux.replace(',','')
  Covid_population.Population.iloc[i] = aux

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [298]:
#Transformar para int
Covid_population.Population = Covid_population.Population.astype(int)

In [299]:
#Calcular a mediana da coluna
print("A mediana da população é:", Covid_population.Population.median(axis=0))

A mediana da população é: 5816377.5

Qual é a media da população?

In [300]:
print('A media é:', Covid_population.Population.mean() )

A media é: 34846200.671052635

In [301]:
test = pd.DataFrame([8,4,7])
test.mean()

0    6.333333
dtype: float64