In [168]:
import pandas as pd

In [169]:
Covid_live = pd.read_csv('Covid Live.csv')

In [170]:
Covid_live.head(3)

,#,"Country,\nOther",Total\nCases,Total\nDeaths,New\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"

### Renomear as colunas para ficar melhor para analisar os dados e melhor o index

In [171]:
colunas = Covid_live.columns
colunas

Index(['#', 'Country,\nOther', 'Total\nCases', 'Total\nDeaths', 'New\nDeaths',
       'Total\nRecovered', 'Active\nCases', 'Serious,\nCritical',
       'Tot Cases/\n1M pop', 'Deaths/\n1M pop', 'Total\nTests',
       'Tests/\n1M pop', 'Population'],
      dtype='object')

In [172]:
Covid_live.rename(columns = {"#":"Id",
                             "Country,\nOther":"Country",
                             "Total\nCases":"Total_Cases",
                             "Total\nDeaths":"Total_Deaths",
                             "New\nDeaths":"New_Deaths",
                             "Total\nRecovered":"Total_Recovered",
                             "Active\nCases":"Active_Cases",
                             "Serious,\nCritical":"Serious_Critical",
                             "Tot Cases/\n1M pop":"Total_Cases_1Mpop",
                             "Deaths/\n1M pop":"Deaths_1Mpop",
                             "Total\nTests":"Total_Tests",
                             "Tests/\n1M pop":"Tests_1Mpop"}, inplace=True)

In [173]:
Covid_live = Covid_live.set_index('Id')

In [174]:
colunas = Covid_live.columns
colunas

Index(['Country', 'Total_Cases', 'Total_Deaths', 'New_Deaths',
       'Total_Recovered', 'Active_Cases', 'Serious_Critical',
       'Total_Cases_1Mpop', 'Deaths_1Mpop', 'Total_Tests', 'Tests_1Mpop',
       'Population'],
      dtype='object')

### Reconhecer os dados, analisar os dados da tabela cru

In [175]:
#Mostrar as 5 primeiras linhas do dataframe
Covid_live.head(5)

,Country,Total_Cases,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1Mpop,Deaths_1Mpop,Total_Tests,Tests_1Mpop,Population
Id,,,,,,,,,,,,
1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"

In [176]:
#Mostrar informações sobre o dataframe
Covid_live.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 1 to 230
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            230 non-null    object
 1   Total_Cases        230 non-null    object
 2   Total_Deaths       225 non-null    object
 3   New_Deaths         3 non-null      float64
 4   Total_Recovered    214 non-null    object
 5   Active_Cases       215 non-null    object
 6   Serious_Critical   147 non-null    object
 7   Total_Cases_1Mpop  228 non-null    object
 8   Deaths_1Mpop       223 non-null    object
 9   Total_Tests        214 non-null    object
 10  Tests_1Mpop        214 non-null    object
 11  Population         228 non-null    object
dtypes: float64(1), object(11)
memory usage: 23.4+ KB

In [177]:
# Ver quantos valores nulos do dataframe todo
Covid_live.isnull().sum()

Country                0
Total_Cases            0
Total_Deaths           5
New_Deaths           227
Total_Recovered       16
Active_Cases          15
Serious_Critical      83
Total_Cases_1Mpop      2
Deaths_1Mpop           7
Total_Tests           16
Tests_1Mpop           16
Population             2
dtype: int64

In [178]:
#Ver a dimensão do dataframe
Covid_live.shape

(230, 12)

In [179]:
#Mostrar quantos valores unicos existem na coluna
Covid_live.Country.nunique()

230

In [180]:
#Mostrar quais são os valores unicos da coluna
Covid_live.Country.unique()

array(['USA', 'India', 'France', 'Brazil', 'Germany', 'S. Korea', 'UK',
       'Italy', 'Japan', 'Russia', 'Turkey', 'Spain', 'Vietnam',
       'Australia', 'Argentina', 'Netherlands', 'Iran', 'Mexico',
       'Indonesia', 'Taiwan', 'Colombia', 'Poland', 'Portugal', 'Ukraine',
       'Austria', 'Greece', 'Malaysia', 'DPRK', 'Thailand', 'Israel',
       'Chile', 'Belgium', 'Canada', 'Peru', 'Czechia', 'Switzerland',
       'South Africa', 'Philippines', 'Romania', 'Denmark', 'Sweden',
       'Iraq', 'Serbia', 'Hungary', 'Bangladesh', 'Singapore', 'Slovakia',
       'Georgia', 'New Zealand', 'Hong Kong', 'Jordan', 'Ireland',
       'Pakistan', 'Norway', 'Kazakhstan', 'Finland', 'Morocco',
       'Bulgaria', 'Lithuania', 'Croatia', 'Lebanon', 'Slovenia',
       'Tunisia', 'Guatemala', 'Cuba', 'Bolivia', 'Costa Rica', 'UAE',
       'Ecuador', 'Nepal', 'Belarus', 'Panama', 'Uruguay', 'Mongolia',
       'Latvia', 'Azerbaijan', 'Saudi Arabia', 'Paraguay', 'Bahrain',
       'Sri Lanka', 'Kuwait', 'Dominican Republic', 'Myanmar',
       'Palestine', 'Estonia', 'Moldova', 'Cyprus', 'Venezuela', 'Egypt',
       'Libya', 'Ethiopia', 'Réunion', 'Honduras', 'Qatar', 'Armenia',
       'Bosnia and Herzegovina', 'Oman', 'North Macedonia', 'Kenya',
       'Zambia', 'Albania', 'Botswana', 'Luxembourg', 'Montenegro',
       'Algeria', 'Nigeria', 'Zimbabwe', 'China', 'Uzbekistan',
       'Mozambique', 'Brunei', 'Martinique', 'Laos', 'Kyrgyzstan',
       'Iceland', 'El Salvador', 'Afghanistan', 'Guadeloupe', 'Maldives',
       'Trinidad and Tobago', 'Uganda', 'Namibia', 'Ghana', 'Jamaica',
       'Cambodia', 'Rwanda', 'Cameroon', 'Malta', 'Angola', 'Barbados',
       'French Guiana', 'DRC', 'Channel Islands', 'Senegal', 'Malawi',
       'Ivory Coast', 'Suriname', 'French Polynesia', 'New Caledonia',
       'Eswatini', 'Guyana', 'Belize', 'Fiji', 'Madagascar', 'Sudan',
       'Mauritania', 'Cabo Verde', 'Bhutan', 'Syria', 'Burundi', 'Gabon',
       'Seychelles', 'Andorra', 'Curaçao', 'Papua New Guinea', 'Aruba',
       'Mauritius', 'Mayotte', 'Tanzania', 'Togo', 'Isle of Man',
       'Guinea', 'Bahamas', 'Faeroe Islands', 'Lesotho', 'Haiti', 'Mali',
       'Cayman Islands', 'Saint Lucia', 'Benin', 'Somalia', 'Congo',
       'Timor-Leste', 'Burkina Faso', 'Solomon Islands', 'San Marino',
       'Gibraltar', 'Liechtenstein', 'Grenada', 'Nicaragua', 'Bermuda',
       'South Sudan', 'Tajikistan', 'Equatorial Guinea', 'Tonga', 'Samoa',
       'Dominica', 'Djibouti', 'Marshall Islands', 'CAR', 'Monaco',
       'Gambia', 'Saint Martin', 'Greenland', 'Yemen', 'Vanuatu',
       'Caribbean Netherlands', 'Sint Maarten', 'Eritrea', 'Niger',
       'Micronesia', 'Antigua and Barbuda', 'Guinea-Bissau', 'Comoros',
       'Liberia', 'Sierra Leone', 'Chad', 'British Virgin Islands',
       'St. Vincent Grenadines', 'Saint Kitts and Nevis', 'Cook Islands',
       'Turks and Caicos', 'Sao Tome and Principe', 'Palau', 'St. Barth',
       'Nauru', 'Anguilla', 'Kiribati', 'Saint Pierre Miquelon',
       'Falkland Islands', 'Montserrat', 'Saint Helena', 'Macao',
       'Wallis and Futuna', 'Diamond Princess', 'Niue', 'Vatican City',
       'Tuvalu', 'Western Sahara', 'MS Zaandam'], dtype=object)

In [181]:
#Mostrar a frequencia que cada valor unico de uma coluna aparece
Covid_live.Country.value_counts()

USA                   1
Sudan                 1
Cabo Verde            1
Bhutan                1
Syria                 1
                     ..
Kuwait                1
Dominican Republic    1
Myanmar               1
Palestine             1
MS Zaandam            1
Name: Country, Length: 230, dtype: int64

### Valores Nulos

Qual coluna tem mais valores nulos?

In [182]:
#For para saber qual coluna tem mais valores nulos
for i in colunas:
  if Covid_live[i].isnull().sum() > maior_valor:
    maior_valor = Covid_live[i].isnull().sum()
    coluna_maior_valor = i

print(f'A coluna que tem mais valores nulos é a coluna \"{coluna_maior_valor}\" com {maior_valor} valores')

A coluna que tem mais valores nulos é a coluna "New_Deaths" com 227 valores

Qual coluna tem menos valores nulos? diferente de 0

In [183]:
#For para saber qual coluna tem menos valores nulos diferente de 0
count = 1
for i in colunas:
  if Covid_live[i].isnull().sum() != 0:
    if count == 1:
      menor_valor = Covid_live[i].isnull().sum()
      coluna_menor_valor = i
      count = 2
    elif Covid_live[i].isnull().sum() < menor_valor:
      menor_valor = Covid_live[i].isnull().sum()
      coluna_menor_valor = i

print(f'A coluna que tem menos valores nulos (diferente de 0) é a coluna \"{coluna_menor_valor}\" com {menor_valor} valores')

A coluna que tem menos valores nulos (diferente de 0) é a coluna "Total_Cases_1Mpop" com 2 valores

Quais colunas tem valores nulos?

In [184]:
print('Colunas que possuem valores nulos:')
colunas_nulas = []
for i in colunas:
  if Covid_live[i].isnull().sum() != 0:
      print(i)
      colunas_nulas.append(i)

Colunas que possuem valores nulos:
Total_Deaths
New_Deaths
Total_Recovered
Active_Cases
Serious_Critical
Total_Cases_1Mpop
Deaths_1Mpop
Total_Tests
Tests_1Mpop
Population

Crie um dataframe sobre Covid sem dados nulos

In [185]:
#Primeiro é preciso analisar qual é a solução mais viavél para cada coluna

In [186]:
#Mostrar apenas as colunas que contem valores nulos 
Covid_live.loc[:, colunas_nulas].head(10)

,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1Mpop,Deaths_1Mpop,Total_Tests,Tests_1Mpop,Population
Id,,,,,,,,,,
1,"1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
2,"528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
3,"155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
4,"686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
5,"149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"
6,"28,406",42.0,"24,013,461","727,234",352,"482,547",553,"15,804,065","307,892","51,329,899"
7,"189,919",NaN,"23,347,871","84,162",146,"344,857","2,773","522,526,476","7,628,357","68,497,907"
8,"177,054",NaN,"21,779,604","476,145",141,"372,250","2,938","246,636,495","4,092,684","60,262,770"
9,"44,678",NaN,"20,380,089","804,449",204,"169,043",356,"76,201,407","606,772","125,584,838"
10,"387,163",NaN,"19,979,763","581,544","2,300","143,674","2,655","273,400,000","1,875,095","145,805,947"